/* (C) Copyright Bobbing Wide 2011 */
/* Dummy custom.css */

/*
body#bp-default { 
background-image: url('images/Middle_texture.png');
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed; 
}
*/

div#header { background-repeat: no-repeat; float: left; width: 100%; }

abbr { font-weight: bold; }

p a.button { margin-top: 35px; line-height: 50px; }

#navigation { float: right; width: 75%; }

